name: Daily Job Sync

on:
  schedule:
    # Runs at 03:30 UTC = 9:00 AM Indian Standard Time (IST)
    - cron: '30 3 * * *'
  workflow_dispatch: # Allows manual run

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run Script
        run: python update_jobs.py

      - name: Save Database & Website
        run: |
          git config --global user.name "JobBot"
          git config --global user.email "bot@noreply.github.com"
          git add index.html jobs.json
          git commit -m "Daily Database Update" || echo "No changes to commit"
          git push
          
